.modal {
  position: absolute;
  background-color: #626d71;
  border-radius: 10px;
  top: 80px;
  box-shadow: 0 2px 2px #474e51;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  transform: translateY(-100px);
}
.modal.active {
  opacity: 1;
  transition: all 0.5s ease;
  pointer-events: all;
  transform: translateY(0);
}
.modal__content {
  padding: 10px;
}
