* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  background-color: none;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: #cdcdc0;
}
.canvas-container {
  overflow: hidden;
}
